
.Register {
    width: 100%;
    height: 600px;
    background-image: url(./33f54d6856c9a5336a8f86df8743e240.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .R-text{
        color: rgba(0, 0, 255, 0.596);
        border-radius: 0.5px solid black;
        font-size: 50px;
        font-weight: 900;
        
    }
    .Reg-Log{
        display: flex;
    }
    .Reg-Log button {
        width: 160px;
        height: 70px;
        background-color: rgba(0, 132, 255, 0.61);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        position: relative;
        font-size: 20px;
        ion-icon{
            padding-left: 50px;
            opacity: 0;
            color: black;
            position: absolute;
        }
      }
      .Reg-Log button:hover ion-icon{
        transition-duration: 0.5s;
        opacity: 1;
        right: 20px;
      }
      .Reg-Log button:hover{
        transition: all 0.5s;
        transform: scaleX(220px);
      }
    .SignIn, .Login {
        background: transparent;
        border: 2px solid rgba(174, 214, 221, 0.5);
        border-radius: 20px;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        width: 400px;
        height: 450px;
        border-radius: 20px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .next_s{
            font-size: 18px;
            text-align: center;
            color: black;
            a{
                text-decoration: underline;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 23px;
            }
        }
        .chekker{
            padding: 5px;
            display: flex;  
            align-items: center;
            gap: 10px;
            .cheked{
                color: chartreuse;
                background-color: chocolate;
            }
            .s_chek{
                color: black;
                font-size: 15px;
            }
        }
        .s_text{
            color: rgb(0, 68, 255);
        }
        .inputtt{
            padding: 20px 20px;
            border-radius: 10px;
            border: 0;
            background-color: rgba(185, 169, 147, 0.205);
            color: rgb(0, 0, 0);
            font-weight: 800;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .werffy{
            display: flex;
            gap: 10px;
            .werify{
                width: 50px;
                background-color: rgb(233, 211, 11);
            }
          }
        }
    
}
@media (max-width:500px){
    .Register{
        .Reg-Log{
            display: flex;
            flex-direction: column;
        }
        .SignIn, .Login{
            height: 650px;
            width: 300px;
            .werffy{
                display: flex;
                flex-direction: column;
            }
        }
    }
}