:root{
    --LightMode: rgb(255, 255, 255);
    --DarkMode: rgb(48, 46, 46);
    --BodyColor: rgb(27, 26, 26);
    --textColor: rgb(19, 18, 18);   
    --T2Color:rgb(226, 118, 30);
    --shadowColor: rgb(255, 238, 0);
}
/* App.css */

.rocet {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
    animation: rocketMovement 2s infinite; /* Animatsiyani boshlash */
}
  
.R1{
    background-color: yellow;
    transform: rotateZ(-45deg);
    width: 60px;
    height: 60px;
}
.R2 {
    background-color: yellow;
    transform: rotateZ(-45deg);
    width: 60px;
    height: 00px;
    display: none; /* "Rocet 2" tasvirini avval yopamiz */
}
/* Dark mode holatida "Rocet 1" tasviri chiqadi */
.ALLContent.dark-mode .R1 {
    display: none;
}

/* Dark mode holatida "Rocet 2" tasviri chiqadi */
.ALLContent.dark-mode .R2 {
    display: block;
}

.ALLContent {
    background-color: var(--LightMode);
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}
.ALLContent.dark-mode {
    background-color: var(--BodyColor);
    color: var(--DarkMode);
}
  
.container.dark-mode {
    background-color: var(--BodyColor);
}
.container{
    width: 1200px;
    background-color: var(--LightMode);
    margin: auto;
    height: auto;
}
.conteiner_registerpage{
    width: 1200px;
    margin: auto;
    height: 635px;
    background-image: url(./assets/33f54d6856c9a5336a8f86df8743e240.jpg);
    background-position: absolute;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
/* LOader uchun  */
/* HTML: <div class="loader"></div> */
.loader {
    top: 200px;
    left: 50%;
    transform: scale(2);
    width: 50px;
    aspect-ratio: 1;
    color: #398EB6;
    background: currentColor;
    border-radius: 50%;
    position: relative;
  }
  .iq2{
    color: var(--LightMode);
    position: absolute;
    left: 18px;
    text-shadow: 0 0 5px;
  }
  .loader:before {
    content: "";
    position: absolute;
    background:
      radial-gradient(farthest-side at bottom right,#0000 94%,currentColor 96%) 0    0   ,
      radial-gradient(farthest-side at bottom left ,#0000 94%,currentColor 96%) 100% 0   ,
      radial-gradient(farthest-side at top    left ,#0000 94%,currentColor 96%) 100% 100%,
      radial-gradient(farthest-side at top    right,#0000 94%,currentColor 96%) 0    100%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: 
      l39-1 1s infinite,
      l39-2 1s infinite;
  }
  @keyframes l39-1 {
    0%,10%,90%,100% {inset:0}
    40%,60% {inset:-10px}
  }
  
  @keyframes l39-2 {
    0%,40%  {transform: rotate(0)}
    60%,100%{transform: rotate(90deg)}
  }
@keyframes rocketMovement {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
}
@media (max-width: 1400px){
    .container{
        width: 1200px;
    }
}
@media (max-width: 1200px){
    .container{
        width: 1000px;
    }
}

@media (max-width: 1000px){
    .container{
        width: 900px;
    }
}
@media (max-width: 900px){
    .container{
        width: 800px;
    }
}
@media (max-width: 800px){
    .container{
        width: 700px;
    }
    .loader{
        transform: scale(1);
    }
}
@media (max-width: 700px){
    .container{
        width: 600px;
    }
}
@media (max-width: 600px){
    .container{
        width: 500px;
    }
}
@media (max-width: 500px){
    .container{
        width: 400px;
    }
}
@media (max-width: 400px){
    .container{
        width: 300px;
    }
}
@media (max-width: 300px){
    .container{
        width: 200px;
    }
}
/* @media (max-width: 500px){
    .container{
        width: 100%;
    }
} */