:root{
    --LightMode: rgb(137, 217, 223);
    --DarkMode: rgb(0, 0, 0);
    --BodyColor: rgb(27, 26, 26);
    --textColor: rgb(19, 18, 18);
    --T2Color:rgb(226, 118, 30);
    --shadowColor: rgb(255, 238, 0);
    --LightSky:rgb(0, 195, 255);
    --lightT2color:#ff9100;
}

.Mentors {
  position: relative;
    align-items: center;
    width: 100%;
    background-image: url(./bgimg/XL.webp);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .uptext {
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.911);
        font-size: 50px;
        border-radius: 90px;
        color: var(--LightSky);
        text-shadow: 0 0 20px;
        padding: 10px 30px;
      }
      .Abouht_mentors {
        padding-top: 20px;
        width: 100%;
        height: auto;
        .M1{
          display: grid;
          grid-template-columns: repeat(auto-fit, 350px);
          align-items: center;
          justify-content: space-evenly;
          gap: 10px;
          .texts{
            .mentor_name{
              font-size: 30px;
              text-align: center;
              color: #ffd900;
              text-shadow: 20px 10px 20px;
            }
            .mentors_job{
              font-size: 30px;
              color: #ff9100;
              text-shadow: -15px -8px 30px;
            }
          }
          .mentorimg{
            width: 200px;
            height: 300px;
            overflow: hidden;
            border-radius: 30px;
            .mentor_img2{
              width: 200px;
              height: 300px;
            }
          }
        }
      }
      .unslider{
        width: 100%;
        margin-top: 10px;
        opacity: 90%;
        border-radius: 50px 50px 0px 0px;
        height: 300px;
        background-image: url(./bgimg/goals-bg.png);
        .slider_mentors {
          border-radius: 20px;
          border: 0px;
          .imgbox {
            margin: 40px;
            border-radius: 30px;
            height: auto;
            overflow: hidden;    
            cursor: pointer;
              .mentor_img1 {
                  width: 150px; /* Reduced width */
                  height: 150px;
                  border-radius: 360px;
              }
          }
        }
      }
}
.Mentors.dark-mode{
  background-color: var(--BodyColor);
  color: var(--LightMode);
}
@media (max-width: 500px){
  .Mentors{
    width: 100%;
    .uptext{
      font-size: 30px;
      color: var(--LightSky);
      text-shadow: 0 0 20px;
    }
  }
}